
.body {
  border-radius: 1rem;
  padding: 2rem;
}

img {
    width: 100%;
}

.welcome {
 background-color:  #fff;
 opacity: 0.8;
 height: 40rem;
 border-radius: 2rem;
 padding: 4rem;
 text-align: center;
}

.input1 {
 display: block;
}