
.body {
  border-radius: 1rem;
  padding: 2rem;
}

img {
    width: 100%;
}

.welcome {
 height: 40rem;
 border-radius: 2rem;
 padding: 4rem;
 text-align: center;
}

.places,
.welcome {
 background-color:  #fff;
 opacity: 0.9;
}

.input1 {
   border-radius: 2rem;
   width: 18rem;
   padding: .5rem;
   margin: 1.5rem;
}

.input2 {
  border-color: #ff5c33;
}

.Form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sign_in_btn {
   color: #fff;
   background-color: #ff5c33;
   padding: 8px 30px 8px 30px;
   border-radius: 2rem;
   font-size: 20px;
}

.pass_F {
    margin-top: 10rem;
}